MONGODB_URI=mongodb://localhost:27017
SUPABASE_URL=https://mepmhdnrjiggteigakfr.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1lcG1oZG5yamlnZ3RlaWdha2ZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYwMDM1MTMsImV4cCI6MjA2MTU3OTUxM30.CoTPYFrO-hqZ-d5ZzPXTylkDGgFqsiMwUtFaKOd_X_M